
<%if @mytruck.size>0 %>
<%= form_for(@quote,:as=>:quote,:html => {:class => "show_form"}) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="padding-bottom: 20px;" class="field2">
    <%= f.label :报价 %>(元)
    <%= f.text_field :price %>
   <label  style="width:20px;">或面议</label><input  style="width:20px;" id="mianyi" name="mianyi" type="checkbox"></input>
    <%= f.label :报价车源 %>
    <%#= f.text_field :truck_id %>
     <%= f.select(:truck_id,options_for_select(@mytruck.to_a,@quote.truck_id) ) %>
     <%= f.submit("确定") %>
 
<!--
  <div class="field">
    <%= f.label :备注 %>
    <%= f.text_field :comments %>
  </div>


-->
    <%= f.hidden_field :cargo_id %>



  </div>  

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :cargo_user_id %>
  <%= f.hidden_field :cargo_company_id %>


<% end %>
<%else%>
<p>你不能报价,因为你没有正在配货的车源可以报价</p>
<%end%>
