

  <table> 
 
 <th>货物名称</th>      
 <%=form_for(@search,:as=>:search,:url=>"/cargos/search",:html=>{:class=>"show_form"},:method=>"get") do |f| %>
<div class="line"  style="display:inline">
  <!-- do not change below  format -->
    <!--  <label class="line_from_label" >出发地:</label>-->
    <th>
      <a id="from_data_load"  href="/cities/from/<%=@search.fcity_code%>"><%=@search.fcity_name ||"出发地选择"%></a>
      <%= f.hidden_field(:fcity_code) %>
      <%= f.hidden_field(:fcity_name) %>
</th>
<th>
 <!--<label style="margin-left:30px;" class="line_to_label " >到达地:</label>-->
      <a  id="to_data_load"  href="/cities/to/<%=@search.tcity_code%>" ><%=@search.tcity_name ||"到达地选择"%></a>
      <%= f.hidden_field(:tcity_code) %>
      <%= f.hidden_field(:tcity_name) %>
  <!-- do not change this format -->
  </th>
      <%= f.hidden_field(:stype) %>
</div>
      <th>重量</th>
      <th>有效期</th>      
      <th>发布日期</th>
      <th>货源状态</th>    
      <th>车主操作</th>     
    
  <th>
  <div class="actions" style="display:inline">
    <%= f.submit("搜索")%>
  </div>
  </th>
<% end %>
 <% unless @cargos.blank? %>
    <% @cargos.each do |cargo| %>
      <%unless cargo.nil? %>
        <tr>
           <td><a class ="show_float" href="/cargos/show/<%=cargo.id%>">
           <%= cargo.cate_name %></a> </td>
          <td><%= cargo.fcity_name %></td> 
          <td><%= cargo.tcity_name %></td>
           <td><%= cargo.cargo_weight || "0" %>吨<%= cargo.cargo_bulk %></td>
          <td><%= cargo.send_date %>天</td>
                   <!--
          <td><%= cargo.package_name %></td>
        
          <td><%=h $cargo_big_category[cargo.big_category]%></td>
          <td><%= h $cargo_option[cargo.cargo_zuhuo] %></td>
            -->
          <td><%=cargo.created_at.to_s.slice(5,11)%></td>
         
          <td><%=cargo.status %></td>
          <td>
            <%if cargo[:from_site]=="local"%>
            <%unless session[:user_id].nil?%>
            <%if cargo.user_id==session[:user_id]%>
             货主
            <%else%>
                <a class="baojia" href="/cargos/<%=cargo.id%>/quotes/new">报价</a>
             <%end%>
            <%else%>
            登录后报价
            <%end%>
            <%else%>
            其他
            <%end%>
           </td>               
        </tr>
      <% end %>
    <% end %>
  </table>

<%= will_paginate @cargos ,:class=>"page_navi_link",:action=>"search",:params=>{:fcity_code=>@search.fcity_code, :tcity_code=>@search.tcity_code}%>

<%else%>
  <p>
    不好意思，没有对应的货源。
  </p>

<% end %>


  



