  
 <%@cargos=get_search_cargos(@search.fcity_code,@search.tcity_code)%>


 <table>  
 <th>货物</th>      
     <th>
      <a id="from_data_load"  href="/cities/from/<%=@search.fcity_code%>"><%=@search.fcity_name ||"出发地选择"%></a>
    </th>
<th>
      <a  id="to_data_load"  href="/cities/to/<%=@search.tcity_code%>" ><%=@search.tcity_name ||"到达地选择"%></a>
</th>
      <th>重量</th>
      <th>有效期</th>      
      <th>发布日期</th>
      <th>货源状态</th>    
      <th>车主操作</th>
  <th>
     <a id ="search"  href=<%="/cargos/search/#{@search.fcity_code}/#{@search.tcity_code}/1"%>>搜索</a>
  </th>

 <% unless @cargos.blank? %>
    <% @cargos.each do |cargo| %>
      <%unless cargo.nil? %>
        <tr>
          <td><a class ="show_float" href="/cargos/show/<%=cargo.id%>">
           <%= cargo.cate_name ||"未知货物"%></a> </td>
          <td><%= cargo.fcity_name %></td>
          <td><%= cargo.tcity_name %></td>
          <td><%= cargo.cargo_weight || "0" %>吨<%= cargo.cargo_bulk %></td>
          <td><%= cargo.send_date %>天</td>
          <!--
          <td><%= cargo.package_name %></td>        
          <td><%=h $cargo_big_category[cargo.big_category]%></td>
          <td><%= h $cargo_option[cargo.cargo_zuhuo] %></td>
        
          <td><%=cargo.updated_at.localtime.to_s.slice(0,19) unless cargo.updated_at.nil? %></td>       -->
          <td><%=cargo.created_at.localtime.to_s.slice(0,19) unless cargo.updated_at.nil? %></td>
          <td><%=cargo.status %></td>
          <td>
            <%if cargo[:from_site]=="local"%>
            <%unless session[:user_id].nil?%>
            <%if cargo.user_id.to_s==session[:user_id].to_s%>
             货主
            <%else%>
                <a class="baojia" href="/cargos/<%=cargo.id%>/quotes/new">报价</a>
             <%end%>
            <%else%>
            登录后报价
            <%end%>
            <%else%>
            其他
            <%end%>
           </td>               
        </tr>
      <% end %>
    <% end %>
  </table>

<%= will_paginate @cargos ,:class=>"page_navi_link",:action=>"search",:params=>{:from=>@search.fcity_code, :to=>@search.tcity_code}%>

<%else%>
  <p>
    不好意思，没有对应的货源.
  </p>

<%end %>



  



