
<%= form_for(@cargo,@stock_cargo,:as=>:cargo,:html => {:class => "show_form"}) do |f| %>
  <% if @cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo.errors.count, "错误") %></h2>
      <ul>
        <% @cargo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    
  <div class="line">
      <h3><%=@stock_cargo.cate_name%>,<%=@stock_cargo.package_name%>包装, 货源发布</h3>
  <!-- do not change below  format -->
      <label class="line_from_label" >出发地:</label>
      <a id="from_data_load" style="display:inline;float:left;" href="/cities/from"><%=(@cargo.fcity_name.nil?||@cargo.fcity_name.empty?) ?"请选择出发地":@cargo.fcity_name%></a>
      <%= f.hidden_field(:fcity_code) %>
      <%= f.hidden_field(:fcity_name) %>
      
      <label style="margin-left:20px;display:inline;float:left;" class="line_to_label " >到达地:</label>
       <a id="to_data_load" style="display:inline;float:left;" href="/cities/to" ><%=(@cargo.tcity_name.nil?||@cargo.tcity_name.empty?) ?"请选择到达地":@cargo.tcity_name%></a>
      <%= f.hidden_field(:tcity_code) %>
      <%= f.hidden_field(:tcity_name) %>
   
  <!-- do not change this format -->
</div>
    

 </div>

  <%= f.hidden_field(:cate_name, :value=>@stock_cargo.cate_name) %>
  <%= f.hidden_field(:package_name, :value=>@stock_cargo.package_name) %>
  <%= f.hidden_field(:big_category, :value=>@stock_cargo.big_category) %>

<%= f.hidden_field :status%>
     <div class="field">
      <label >重量(吨)</label>
      <%= f.text_field :cargo_weight %> 
     </div>
    
     <div class="field">
      <label>体积(方)</label>
       <%= f.text_field :cargo_bulk %>
     </div>
    
     <div class="field">
     <label>有效天数</label>
     <%= f.select(:send_date,options_for_select([["一天","1"],["当天","0"],["二天","2"]],@cargo.send_date) )%>
     </div>
     <div class="field">
     <label for="cargo_option">组货方式：</label>
     <%= f.select(:cargo_zuhuo,options_for_select($cargo_option_reverse.to_a,@cargo.cargo_zuhuo) )%>
     </div>

   <div class="field">
    <label >联系人：</label>
    <%=@user_contact.name||@user.name%>    
   </div>

   <div class="field">
    <label >联系电话：</label>
    <%=@user_contact.mphone||"无"%>    
   </div>

    <div class="actions">
       <%= f.submit("确定") %>
    </div>   

    <%= f.hidden_field :stock_cargo_id%>
    <%= f.hidden_field :user_id%>
    <%= f.hidden_field :company_id%>
    <%= f.hidden_field :user_contact_id%>

  <% end %>
<div>
<p id="notice"><%= notice %></p>
</div>
