
<%= form_for(@cargo,@stock_cargo,:as=>:cargo,:html => {:class => "show_form"}) do |f| %>
  <% if @cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
        <% @cargo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>


    <div class="line">

  <!-- do not change below  format -->
      <label class="line_from_label" >出发地:</label>
      <a id="from_data_load"  href="/cities/from"><%=(@cargo.fcity_name.nil?||@cargo.fcity_name.empty?) ?"请选择出发地":@cargo.fcity_name%></a>
      <%= f.hidden_field(:fcity_code) %>
      <%= f.hidden_field(:fcity_name) %>
      
      <label style="margin-left:50px;" class="line_to_label " >到达地:</label>
       <a id="to_data_load"  href="/cities/to" ><%=(@cargo.tcity_name.nil?||@cargo.tcity_name.empty?) ?"请选择到达地":@cargo.tcity_name%></a>
      <%= f.hidden_field(:tcity_code) %>
      <%= f.hidden_field(:tcity_name) %>
   
  <!-- do not change this format -->

  <br></br>
</div>
  </div>

  <%= f.hidden_field(:cate_name, :value=>@stock_cargo.cate_name) %>
  <%= f.hidden_field(:package_name, :value=>@stock_cargo.package_name) %>
  <%= f.hidden_field(:big_category, :value=>@stock_cargo.big_category) %>

<%= f.hidden_field :status%>

  <div class="field">
    <%= f.label "发货重量(吨)"%>
    <%= f.text_field :cargo_weight %>
  </div>

  <div class="field">
    <%= f.label "发货体积(方)"%>
    <%= f.text_field :cargo_bulk %>
  </div>

  <div class="field">
 <%= f.label :有效天数 %>
   <%= f.select(:send_date,options_for_select([["当天","0"],["一天","1"],["二天","2"]],@cargo.send_date) )%>
  </div>

  <div class="field">
    <label for="cargo_option">组货方式：</label>
    <%= f.select(:cargo_zuhuo,options_for_select($cargo_option_reverse.to_a,@cargo.cargo_zuhuo) )%>
  </div>


    <%= f.hidden_field :stock_cargo_id%>
    <%= f.hidden_field :user_id%>
    <%= f.hidden_field :company_id%>
  <%= f.hidden_field :user_contact_id%>

<!--
  <div class="field">
    <label for="comments">备注：</label>
    <%= f.select(:comments,options_for_select($habit_word_reverse.to_a,@cargo.comments) )%>
  </div>
-->

  <div class="field">
    <label for="装货地址">装货地址：</label>
    <%= f.text_field(:zhuang_addr) %>
  </div>

  <div class="field">
    <label for="卸货地址">卸货地址：</label>
    <%= f.text_field(:xie_addr) %>
  </div>

  <div class="field">
    <label for="装车时间">装车时间：</label>
    <%= f.text_field(:zhuang_time) %>
  </div>

  <div class="actions">
    <%= f.submit("确定") %>
  </div>
<% end %>
<div>
<p id="notice"><%= notice %></p>
</div>
