
<p id="notice"><%= notice %></p>

<%#=render :template=>'line_ads/show',:layout=>nil %>

  <div class="show_header">
<%=render "cargos/title"%>
    </div>
  <div id="cargo_show" >
  <p>
 <label>货物：</label>
<%= @cargo.cate_name %>
</p>
 <p>
  <label> 重量体积:</label>
 <%=@cargo.cargo_weight %>吨

</p>


<p>
<label>发货日期:</label>
 <%= @cargo.send_date %></p>


 <p>
  <label>create_time:</label>
<%= @cargo.created_at.to_s.slice(0,19) %>
</p>

</div>



  
