

<h3>

  <%= @cargo.fcity_name %>
  ==>
  <%= @cargo.tcity_name %>

   <%= @cargo.cate_name %>
  <%= @cargo.package_name %>
  <%= @cargo.cargo_weight %> 吨/


  <%= @cargo.cargo_bulk %>方


  <%= @cargo.send_date %>day
  发货
</h3>




