  <%@trucks=get_search_truck(@search.fcity_code,@search.tcity_code)%>

<p><%="#{@search.fcity_code}/#{@search.tcity_code}/#{Time.now}"%></p>
<table>
  
  <tr>
    <th>车辆</th>
   
 <div class="line"  style="display:inline">
  <!-- do not change below  format -->
     <!-- <label style="margin-left:10px;" class="line_from_label" >出发地:</label>-->
     <th>
     <a id="from_data_load"  href="/cities/from/<%=@search.fcity_code%>"><%=@search.fcity_name ||"出发地选择"%></a>
      <%#= f.hidden_field(:fcity_code) %>
      <%#= f.hidden_field(:fcity_name) %>
     </th>
     <!--  <label style="margin-left:50px;" class="line_to_label " >到达地:</label>-->
     <th>
     <a  id="to_data_load"  href="/cities/to/<%=@search.tcity_code%>"><%=@search.tcity_name ||"到达地选择"%></a>
      <%#= f.hidden_field(:tcity_code) %>
      <%#= f.hidden_field(:tcity_name) %>
     </th>
   <!-- do not change this format -->
</div>
    <th>回程</th>
    <!--  <th>公司</th>-->
    <th>有效期</th>
    <th>发布时间</th>
    <th>状态</th>
    <th>货主操作</th>
  <th>
     <a id ="search"  href=<%="/trucks/search/#{@search.fcity_code}/#{@search.tcity_code}/1"%>>搜索</a>
  </th>
  </tr>

   <% unless @trucks.blank? %>
   <% @trucks.each do |truck|%>
   <%unless truck.blank? %>
        <tr>
            <td><a class="show_float" href="/trucks/show/<%=truck.id%>">
              <%=truck.paizhao%>,<%=truck.dunwei%>吨
              <%=truck.length%>米,<%=$truck_shape[truck.shape]%>
            </a>
            </td>
          <td><%= truck.fcity_name %></td>
          <td><%= truck.tcity_name %></td>

          <td><%=$truck_huicheng[truck.huicheng]%></td>

          <td><%= truck.send_date %>天</td>
          <td><%= truck.updated_at.to_s.slice(5,11) %></td>
          <td><%= truck.status %></td>
          <td>
             <%unless session[:user_id].nil?%>
             <%if truck.user_id==session[:user_id]%>
            车主
            <%elsif truck.from_site=="local"%>
              <a class="baojia" href="/trucks/<%=truck.id%>/inqueries/new">询价</a>
             <%else%>
              其他
              <%end%>
              <%else%>
              登录后询价
              <%end%>
          </td>

        </tr>
      <% end %>
    <% end %>
     </table>
     <%else%>
        <p>没有找到对应车源</p>
     <% end %>

<%= will_paginate(@trucks ,:class=>"page_navi_link",:action=>"search",:params=>{:fcity_code=>@search.fcity_code, :tcity_code=>@search.tcity_code}) %>
