
<p id="notice"><%= notice %></p>

<%#=render :template=>'line_ads/show',:layout=>nil %>

<%if @truck[:from_site]=="quzhou"%>
<%=render "qzshow"%>
<%elsif @truck[:from_site]=="tf56"%>
<%=render "tf56show"%>
<%elsif @truck[:from_site]=="local" %>
<%=render "localshow"%>
<%else%>
<%=render "localshow"%>
<%end%>
