<%unless @stock_truck.blank?%>
<%= form_for(@stock_truck,:as=>:stocktruck,:html=>{:class=>"show_form"}) do |f|%>
<!--
<% if @stock_truck.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@stock_truck.errors.count, "错误")%> </h2>
      <ul>
      <% @stock_truck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->

  <div class="field">
    <%= f.label :车辆牌照 %>
    <%= f.text_field :paizhao %>
  </div>
  <div class="field">
    <%= f.label "核定载重(吨)" %>
    <%= f.text_field :dun_wei %>
  </div>
  <div class="field">
    <%= f.label "车厢长度(米)" %>
    <%= f.text_field :che_length %>
  </div>
  <div class="field">
    <%= f.label :用途 %>
    <%= f.select(:truck_usage,options_for_select($truck_usage_reverse.to_a,@stock_truck.truck_usage) ) %>
  </div>
  <div class="field">
    <%= f.label :车厢结构 %>
    <%= f.select(:truck_shape, options_for_select($truck_shape_reverse.to_a,@stock_truck.truck_shape)) %>
  </div>
  <div class="field">
    <%= f.label :有无GPS %>
    <%= f.select(:truck_gps, options_for_select([["有","有"],["无","无"]],@stock_truck.truck_gps)) %>
  </div>

  <div class="field">
    <%= f.label :叫车联系人 %>
    <%= f.text_field :bis_name %>
  </div>
  <div class="field">
    <%= f.label :叫车联系电话 %>
    <%= f.text_field :bis_phone %>
  </div>
  <div class="field">
    <%= f.label :司机姓名 %>
    <%= f.text_field :driver_name %>
  </div>
  <div class="field">
    <%= f.label :司机电话 %>
    <%= f.text_field :driver_phone %>
  </div>
  <div class="field">
    <%= f.label :车主姓名 %>
    <%= f.text_field :owner_name %>
  </div>
  <div class="field">
    <%= f.label :车主电话 %>
    <%= f.text_field :owner_phone %>
  </div>

  <div class="field">
    <%= f.label :车子品牌 %>
    <%= f.select(:truck_pinpai, options_for_select( $truck_pinpai_reverse.to_a,@stock_truck.truck_pinpai)) %>
  </div>

  <div class="field">
    <%= f.label :车子型号 %>
    <%= f.text_field :truck_xinghao %>
  </div>

  <div class="field">
    <%= f.label :购买年份 %>    
    <%= f.select(:truck_year, options_for_select($year_hash_reverse.to_a,@stock_truck.truck_year)) %>
  </div>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :company_id %>
  <%= f.hidden_field :status%>

  <div class="actions">
    <%= f.submit("确定") %>
  </div>

<%end %>
<%end %>