<h1>网站数据一览</h1>

 <table class="admin_index">
<tr><td> 用户数量</td><td><%=User.count%></td></tr> 
<tr> <td>公司数量</td><td><%=Company.count%></td></tr> 
<tr>
  <td> 货源数量</td><td><%=Cargo.count%></td> </tr>
 <tr> <td> 过期货源</td><td><%=ExpiredCargo.count%></td> </tr>
 <tr> <td> 正在配车</td><td><%=Cargo.where(:status=>"正在配车").count%></td> </tr>


  <tr> <td> 车源数量</td><td><%=Truck.count%></td>  </tr>
   <tr> <td> 正在配货</td><td><%=Truck.where(:status=>"正在配货").count%></td>  </tr>
   <tr> <td> 过期车源</td><td><%=ExpiredTruck.count%></td>  </tr>

</table>

