<p id="notice"><%= notice %></p>

<p>
  <b>Total baojia:</b>
  <%= @cstatistic.total_baojia %>
</p>

<p>
  <b>Total xunjia:</b>
  <%= @cstatistic.total_xunjia %>
</p>

<p>
  <b>Total match:</b>
  <%= @cstatistic.total_match %>
</p>

<p>
  <b>Total click:</b>
  <%= @cstatistic.total_click %>
</p>


<%= link_to 'Edit', edit_cstatistic_path(@cstatistic) %> |
<%= link_to 'Back', cstatistics_path %>
