

<%= form_for(@user,:as=>:user,:html => {:class => "show_form"}) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "错误") %></h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>用户名*:</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label id="register_email">Email*:</label>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <label>确认Email*:</label>   
     <%= f.text_field :email_confirm %>
  </div>

  <div class="field">
    <label>设置密码*:</label>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <label>确认密码*:</label>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <label>联系手机*:</label>
    <%= f.text_field :mobilephone %>
  </div>

  <div class="actions">
    <%= f.submit("确定") %>
  </div>

<% end %>
<p>* 为必填项</p>
<%=flash[:notice]%>
