<div class="form_header">
  <%=render "cargos/title"%>
</div>
<%unless @bao_or_xun_record.blank? %>
  <table>
  <tr>
     <th>发布人</th>
     <th>所在公司</th>
     <th>报价车辆</th>
     <th>车辆出发</th>
     <th>车辆到达</th>    
     <th>报价</th>
     <th>报价时间</th>
     <th>成交状态</th>
  </tr>



    <% @bao_or_xun_record.each do |inquery| %>
      <%truck=Truck.find(inquery.truck_id)%>
      <%unless truck.blank?%>
        <tr>
          <td>
            <a class="show_float2" href="/user_contacts/<%=truck.user_contact_id%>"> <%="#{UserContact.find(truck.user_contact_id).name}"%>
            </a>
          </td> 
          <td>
            <a class="show_float2" href="/companies/<%= truck.company_id%>"><%="#{Company.find(truck.company_id).name}"%></a>
          </td>
          <td>
            <a class="show_float" href="/trucks/show/<%=truck.id%>">
              <%=truck.paizhao%>,
              <%=truck.dunwei%>吨,
              <%=truck.length%>米,
              <%= $truck_shape[truck.shape]%>
            </a>
          </td>

          <td><%= truck.fcity_name %></td>
          <td><%= truck.tcity_name %></td>
          <td> <%= inquery.price.nil? ? "面议":"#{inquery.price}元"%></td>
          <td><%= inquery.created_at.to_s.slice(5,11) %></td>          <td>
            <%if inquery.status=="已成交" %>
              已成交
            <%else%>
              <%if @cargo.status=="配车"%>
                <a class="cargo_chenjiao" href="inqueries/chenjiao/<%=inquery.id%>">请求成交</a>
              <%end%>
            <%end%>
          </td>
        </tr>
      <%end%>
    <% end %>
  </table>
<%else%>
  <p>你还没有报价或者询价.</p>
<% end %>


