  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>物流零距离-欢迎您</title>
<%#= favicon_link_tag 'truck1.png'%>
    <link href="http://t1.gstatic.com/images?q=tbn:ANd9GcQQiKdh6XJ-eOml9jP74jNjb31CqEAseRMBu_UaTZZg9I8HOkL1Ew" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <%= javascript_include_tag 'jquery-1.4.2.js' %>
    <%= javascript_include_tag "jquery.form.js" %>

    <%= javascript_include_tag "date.js" %>
    <%= javascript_include_tag "jquery.dataTables.min.js" %>
    <%= javascript_include_tag "tablecloth.js" %>
    <%= javascript_include_tag "jquery.datePicker.js" %>
    <%= javascript_include_tag "jquery.validate.js " %>
     <%= javascript_include_tag "city.js " %>
     <%= javascript_include_tag "myvalidate.js " %>
     <%= javascript_include_tag "data_load.js " %>
     <%= javascript_include_tag "submit.js " %>
     <%= javascript_include_tag "float_load_layer1.js " %>
     <%= javascript_include_tag "navi.js " %>
     <%= javascript_include_tag "g1.js" %>
    <%#= javascript_include_tag "jquery.inline-confirmation.js" %>
   <%= stylesheet_link_tag 'city' %>
    <%= stylesheet_link_tag 'g1' %>
    <%#= stylesheet_link_tag 'page_navi' %>
    <%= stylesheet_link_tag 'navi' %>
    <%#= stylesheet_link_tag 'tablecloth' %>
    <%#= stylesheet_link_tag 'datePicker' %>
    <%= stylesheet_link_tag 'form' %>
