  <%user=User.find(session[:user_id]) unless session[:user_id].nil?%>
<% unless user.nil? %>
  <%ustatistic=Ustatistic.find(user.ustatistic_id)%>
<%end%>
   <div class="navi_block">
          <ul>
            <% unless user.nil? %>
            <li> <a class="navi_link" href="/cargos/search"><div>查货源(<%=h Cargo.count%>)</div></a> </li>
            <li> <a class="navi_link" href="/trucks/search"><div>查车源(<%=h Truck.count%>)</div></a> </li>
          <%else%>
             <li> <a class="navi_link" href="/cargos/search/"><div>查货源(<%=h Cargo.count%>)</div></a> </li>
             <li> <a class="navi_link" href="/trucks/search"><div>查车源(<%=h Truck.count%>)</div></a> </li>
          <%end%>
          </ul>
        </div>

        <% unless user.nil? %>
          <div class="navi_block">
            <ul>
                  
              <li> <a class="navi_link navi_stock_cargo" href="/users/<%=user.id%>/stock_cargos"><div>我的货物(<%=ustatistic.nil? ? "0":ustatistic.total_stock_cargo%>)</div></a> </li>
              <li> <a class="navi_link navi_cargo" href="/users/<%=user.id%>/cargos/"> <div>我的货源(<%=ustatistic.nil? ? "0":ustatistic.total_cargo%>)</div></a> </li>
            </ul>
          </div>

          <div class="navi_block">
            <ul>
              
              <li> <a class="navi_link navi_stock_truck" href="/users/<%=user.id%>/stock_trucks"><div>我的车辆(<%=ustatistic.nil? ? "0":ustatistic.total_stock_truck%>)</div></a> </li>
              <li> <a class="navi_link navi_truck" href="/users/<%=user.id%>/trucks"><div>我的车源(<%=ustatistic.nil? ? "0":ustatistic.total_truck%>)</div></a>  </li>

            </ul>
          </div>

          <div class="navi_block">
            <ul>
              <%company=Company.find_by_user_id(user.id)%>
              
              <%unless company.nil?%>
              <li> <a class="navi_link" href="/companies/show/<%=company.id%>"> <div>我的公司</div></a>  </li>
              <%else%>
              <li> <a class="navi_link" href="/users/<%=user.id%>/companies"> <div>我的公司(未创建)</div></a>  </li>
              <%end%>
                        
              <li> <a class="navi_link" href="/user_contacts/user/<%=user.id%>"><div>我的联系人</div></a> </li>
             <!-- <li> <a class="navi_link" href="/user_contacts/user/<%=user.id%>"><div>我的档案</div></a>  </li>-->
            </ul>
          </div>
<!--
          <div class="navi_block">
            <ul>
              <li> <a class="navi_link" href="/users/<%=user.id%>/companies"> <div>我的线路()</div></a>  </li>
              <li> <a class="navi_link" href="/companies"> <div>热门线路</div></a>  </li>
            </ul>
          </div>
-->
        <%end%>
