<%#coding: utf-8%>
<p id="notice"><%= notice %></td>
  <%unless @user_contact.nil?%>

 <p>
   <label> <b>信息发布</b></label>
        <%= @user_contact.name || "无"%>
 </p>
 <p>
     <label> <b>移动电话</b></label>
        <%= @user_contact.mphone || "无"%>
   </p>
 <p>
    <label> <b>固定电话</b></label>
        <%= @user_contact.quhao+"-"+@user_contact.fixphone || "无"%>
   </p>
 <p>
      <label> <b>Email</b></label>
        <%= @user_contact.email || "无"%>
   </p>
 <p>
        <label> <b>Qq</b></label>
        <%= @user_contact.QQ || "无"%>
   </p>

<%end%>
   
<%=render "usercontactsnavi"%>
