<div id="notice"><%= notice %></div>
<div  class="companyshow">
  <h3>我的公司信息</h3>
<div>
  <label>公司名称:</label>
  <%= @company.name %>
</div>

<div class="companyabout">
  <label>公司介绍:</label>
  <p> <%= @company.about %></p>
</div>

<div>
  <label>公司联系人:</label>
  <%= @company.contact_name %>
</div>

<div>
  <label>所在城市:</label>
  <%= @company.city_name %>
</div>


<div>
  <label>公司地址:</label>
  <%= @company.address %>
</div>

<div>
  <label>固定电话:</label>
  <%= @company.fix_phone %>
</div>

<div>
  <label>移动电话:</label>
  <%= @company.mobile_phone %>
</div>

<div>
  <label>公司邮件:</label>
  <%= @company.email %>
</div>

<div>
  <label>自有车辆:</label>
  <%= @company.self_che %>
</div>

<div>
  <label>挂靠车辆:</label>
  <%= @company.signed_che %>
</div>

<div>
  <label>员工数量:</label>
  <%= @company.num_employ %>
</div>



<div >
  <label>该信息由
<%= User.find(@company.user_id).name %>

 创建</label>
</div>

</div>

<%#= link_to 'Edit', edit_company_path(@company) %> 
<%#= link_to 'Back', companies_path %>
