<%#coding:utf-8%>
<div class="city_selector">
<div>
<!-- <a class="list_close" style="margin-top: 5px;margin-left: 2px; display: inline;" href="">关闭</a>-->
  <%if params[:dir]=="from"%>
<h3 style="display: inline;">出发城市:</h3>
<%end%>

<%if params[:dir]=="to"%>
<h3 style="display: inline;">到达城市:</h3>
<%end%>

<p id="selected_city" style="display: inline;"  ><%=@selected_city_name%></p>

<input id="selected_city_name" name="selected_city_name" value="<%=@selected_city_name%>" type="hidden"> </input>
<input id="selected_city_code" name="selected_city_code" value="<%=@selected_city_code%>" type="hidden"> </input>
</div>

<div class="province" >
<ul style="margin-top: 10px">省份:  
  <%$raw_province_array.each do |one_row|%>
  <li>
    <%one_row.each do |city_key|%>
    <%if city_key.to_s==@province_code%>
     <a class="selected_province city_province" href=<%="/cities/#{params[:dir]}/#{city_key}"%>><%=$province_region[city_key.to_s]%></a>
    <%else%>
    <a class ="city_province" href=<%="/cities/#{params[:dir]}/#{city_key}"%>><%=$province_region[city_key.to_s]%></a>
     <%end%>
    <%end%>
  </li>
  <%end%>

</ul>
</div>
  <hr>
<div class="region">
<ul style="margin-top: 10px">地区:
    <%@region.each do |region_code,region|%>
      <li>
         <%if region_code==@region_code%>
         <a class ="selected_region city_region" href=<%="/cities/#{params[:dir]}/#{region_code}"%>><%=$province_region[region_code]%></a> 
        <%else%>
        <a class ="city_region" href=<%="/cities/#{params[:dir]}/#{region_code}"%>><%=$province_region[region_code]%></a>   
        <%end%>
       <%region.each do |city_code,city_name|%>
        <%if city_code==@city_code%>
         <a class="selected_city" href=<%="/cities/#{params[:dir]}/#{city_code}"%>><%=city_name%></a>
        <%else%>
         <%= link_to city_name, "/cities/#{params[:dir]}/#{city_code}" %>
        <%end%>
       <%end%>
      </li>
    <%end%>

</ul>

</div>


</div>

<%#= link_to 'New City', new_city_path %>
