<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <%=render "shared/html_header"%>
  </head>
  <body>
   <%user=User.find(session[:user_id]) unless session[:user_id].nil? #TOBE ImProved%>
    <div id="sheader">
      <img src="/images/7491063.gif" alt="Icon" align="left" />

        <span id="guser" >
          <a  href="/" >首页</a>
            <%if user.nil?%>
            | <a  href="/users/login" >登录</a>
            | <a  href="/users/new" >快速注册,永久免费</a>
           <%else%>
            | <a  href="/users/logout" >登出</a>
            <span>欢迎您!<%=user.name||user.email%></span>
           <%end%>
            <%time=Time.now%>
             <span>今天是<%=time.year%>年<%=time.month%>月<%=time.day%>日,星期<%=$week_day[time.wday.to_i]%></span>
        </span>

    </div>

      <div class="content">
      <div id="navi">
       <%=render "shared/navibar"%>
      </div>

    
        <div id="show">
          <%= yield %>
        </div>
     


   <%=render "shared/float_show"%>
     </div>

    <div id="footer" style="display:inline-block;width:100%;margin-top: 50px;margin-bottom: 50px;text-align: center;">
      <span>
      <a href="/public/about">关于物流零距离</a>|
      <a href="/public/mianze">免责声明</a>|
      <a href="/public/contact">联系我们</a>|
      <a href="/feedbacks/new">使用投诉和改进反馈</a>
    </span>
      <p>@2010-2011 www.w090.com 杭州全聚通网络技术有限公司</p>
    </div>


  </body>
</html>


