<p id="notice"><%= notice %></p>

<p>
  <b>Total baojia:</b>
  <%= @tstatistic.total_baojia %>
</p>

<p>
  <b>Total xunjia:</b>
  <%= @tstatistic.total_xunjia %>
</p>

<p>
  <b>Total match:</b>
  <%= @tstatistic.total_match %>
</p>

<p>
  <b>Total click:</b>
  <%= @tstatistic.total_click %>
</p>


<%= link_to 'Edit', edit_tstatistic_path(@tstatistic) %> |
<%= link_to 'Back', tstatistics_path %>
